form {
  margin: 20px auto;
  width: 70%;
}

.Dictinary {
  text-align: left;
}

.search {
  width: 70%;
  float: left;
}

ul {
  padding: 0;
  list-style-position: inside;
}
ul li {
  padding-left: 10px;
}
